.branches {
    padding: 20px 0 50px 0;
    height: auto;
}

.branches .branches__title {
    text-align: center;
}

.branches .branches__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    max-height: 150px;
}

.branches .branches__wrapper ul {
    width: 300px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: center;
}

.branches .branches__wrapper ul li {
    margin-top: 10px;
}

.branches .branches__wrapper ul li:first-child {
    margin-top: 0;
}

.branches .branches__wrapper ul li a {
    color: rgb(72, 72, 255);
    text-decoration: none;
}

.branches .branches__wrapper ul li a:hover {
    text-decoration: underline;
}

/* .branches .showBranches ul li {
} */

.branches .showBranches {
    overflow: visible;
    max-height: 100%;
}

.branches button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (max-width: 719px) {
    .branches .branches__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .branches .branches__wrapper ul {
        margin-top: 30px;
    }
}