@import './base/simple.css';
@import './blocks/header.css';
@import './blocks/promo.css';
@import './blocks/service.css';
@import './blocks/aboutUs.css';
@import './blocks/reviews.css';
@import './blocks/accordion.css';
@import './blocks/footer.css';
@import './blocks/advantages.css';
@import './blocks/ourContacts.css';
@import './media.css';

body {
    background-color: #ecf0f1;
}

.up {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 10px;
    bottom: 10%;
    right: 3%;
    z-index: 5;
    background-color: #22223b;
    border-radius: 100%;
    text-decoration: none;
    transition: all .5s;
    opacity: 0;
}

.up img {
    width: 40px;
    color: #fff;
    font-size: 36px;
}

.up_show {
    opacity: 1;
}

.call {
    display: none;
}

@media screen and (max-width: 719px) {
    .call {
        display: flex;
        align-items: center;
        position: fixed;
        padding: 10px;
        bottom: 20%;
        right: 3%;
        z-index: 5;
        background-color: rgb(13, 216, 13);
        border-radius: 100%;
        text-decoration: none;
    }
    
    .call .callIcon {
        width: 40px;
        color: #fff;
        animation-name: phone-circle;
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes phone-circle {
        0% {
            transform: rotate(-30deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
}