@media screen and (max-width: 1744px) {
    .reviews .reviews__prev {
        left: 10%;
    }
    
    .reviews .reviews__next {
        right: 10%;
    }
}

@media screen and (max-width: 1288px) {
    .reviews .reviews__prev {
        left: 5%;
    }
    
    .reviews .reviews__next {
        right: 5%;
    }
}

@media screen and (max-width: 719px) {
    .reviews .reviews__prev {
        display: none;
    }
    
    .reviews .reviews__next {
        display: none;
    }

    .slider-dots {
        bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
        z-index: 3;
    }
}

/* @media screen and (max-width: 528px) {
    .reviews .reviews__prev {
        left: -1%;
    }
    
    .reviews .reviews__next {
        right: -1%;
    }
}

@media screen and (max-width: 524px) {
    .reviews .reviews__prev {
        top: 70%;
        transform: translateY(-70%);
        width: 40px;
    }
    
    .reviews .reviews__next {
        top: 60%;
        transform: translateY(-60%);
        width: 40px;
    }
} */