.accordion {
    padding: 0 0 100px 0;
}

.accordion .accordion__title {
    text-align: center;
}

.accordion__item {
    margin-bottom: 15px;
    color: #fff;
}

.accordion__item-trigger {
    padding: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion__item-trigger p {
    font-size: 18px;
    margin: 0;
}

.accordion__item-trigger img {
    /* font-size: 20px; */
    width: 20px;
    height: 20px;
    transition: all .5s;
}

.accordion__item-answer {
    padding: 20px;
    border-top: none;
    display: none;
    transform: translateY(-50px);
    transition: all .3s;
    background-color: var(--main-color);
    margin-top: 2px;
}

.accordion__item-active .accordion__item-trigger img {
    transform: rotate(45deg);
}

.accordion__item-active .accordion__item-answer {
    display: block;
    transform: translateY(0px);
}