.header {
    background-color: var(--main-color);
    padding: 10px 0;
}

.header .header__logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.header .row {
    display: flex;
    align-items: center;
}

.header .header__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header .header__nav button {
    display: none;
}

.header .header__nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s;
    color: #fff;
}

.header .header__nav ul li a:hover {
    color: var(--text);
}

.header .header__humburger {
    display: none;
    cursor: pointer;
}

.header .header__humburger i {
    font-size: 25px;
}

.overlay {
    display: none;
}