.ourContacts {
    padding: 20px 0 0 0;
    background-color: var(--main-color);
}

.ourContacts .ourContacts__info h3, .ourContacts .ourContacts__info p {
    color: var(--text);
}

.ourContacts .ourContacts__info h3 {
    margin: 0;
}

.ourContacts .ourContacts__info p {
    font-size: 18px;
}

.ourContacts .ourContacts__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.ourContacts .ourContacts__btn a {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: var(--grey);
    text-decoration: none;
    font-size: 26px;
}

.ourContacts .ourContacts__btn a:hover {
    background-color: var(--text);
}